h1 {font-size: 65px; 
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

p {
    font-weight: 600;
    font-size: 3em;
    line-height: 1.6;
}

ul {background-color: orange;}
.class_p_and_ul {
    background-color: darksalmon;
    font-family: Helvetica, sans-serif;
}

#yellow-id {color: yellow;}
#red-id {color: red;}
#brown-id {color: brown;}

body {
    font-size: 16px;
}